@model WebApp.Models.SearchBooking

@{
    ViewBag.Title = "Choose Flight";
}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
   @* @RenderBody()
    @RenderSection("scripts", required: false)*@
<h2>Flight</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.flight.departure, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight.departure, new { htmlAttributes = new { @class = "form-control", @id = "searchDep"} })
                @Html.ValidationMessageFor(model => model.flight.departure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight.destination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight.destination, new { htmlAttributes = new { @class = "form-control", @id = "searchDest" } })
                @Html.ValidationMessageFor(model => model.flight.destination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight.travelDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight.travelDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight.travelDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight.returnDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight.returnDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight.returnDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight.classType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight.classType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight.classType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.booking.travelers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.booking.travelers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.booking.travelers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.booking.oneWay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.booking.oneWay)
                    @Html.ValidationMessageFor(model => model.booking.oneWay, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Søk" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    @if (Model != null)
    {
        if (Model.flights.ElementAtOrDefault(0) != null)
        {
        <h4>Tur</h4>
            @Html.Partial("FlightPartial", Model.flights.ElementAt(0))
        }
        if (Model.flights.ElementAtOrDefault(1) != null)
        {
        <h4>Retur</h4>
                @Html.Partial("FlightPartial", Model.flights.ElementAt(1))
        }
    }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchDep").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/FindAirport",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        if (!data.length) { var result = [{ label: "Ingen resultat", value: response.term }]; response(result); }
                        else {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name };
                            }))
                        }
                    }
                })
            }
        });
        $("#searchDest").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/FindAirport",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        if (!data.length) { var result = [{ label: "Ingen resultat", value: response.term }]; response(result); }
                        else {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name };
                            }))
                        }
                    }
                })
            }
        });
    })
</script>
