@model WebApp.Models.FinalBooking

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div>
    <h4>Reise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flight.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.flight.departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.departure)
        </dd>

        </dl>
    <h4>Kontaktperson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customers[0].eMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].eMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customers[0].firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customers[0].lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].lastName)
        </dd>
    </dl>
    @if (Model.booking.travelers > 1)
    {
        for (int i = 1; i < Model.booking.travelers; i++)
        {
            <h4>Medpassasjer</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.customers[i].eMail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customers[i].eMail)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.customers[i].firstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customers[i].firstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.customers[i].lastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customers[i].lastName)
                </dd>
            </dl>
        }
    }
</div>
@Html.ActionLink("Lagre", "pushDatabase", new { empty = "" }, new { @class = "btn btn-primary" })
