@model WebApp.Models.FinalBooking

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking.adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.adult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customers[0].eMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].eMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customers[0].firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customers[0].lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers[0].lastName)
        </dd>

    </dl>
</div>
