@model WebApp.Models.ViewModel
    @{
        int radioTravelIndex = 0;
    }
<div class="well">
    <h3>
        <label id="dynprice">
        </label>
    </h3>
    <h2>Tur</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].destinationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].travelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].classType)
            </th>
            <th></th>
        </tr>

        @foreach (var x in Model.travelflights)
        {
            <tr>

                @foreach (var y in x)
                {
                    <td>
                        @Html.DisplayFor(modelItem => y.departureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => y.destinationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => y.departure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => y.destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => y.travelDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => y.classType)
                    </td>
                }
                <td>
                    <input type="radio" name="travel" id="travel" value=@radioTravelIndex />
                </td>
            </tr>
            radioTravelIndex++;
        }

        @if (Model.travelflights.Count == 0)
        {
            <tr><td> <h4>Ingen treff! :(</h4></td></tr>
        }
    </table>
    @if (Model.returnflights != null)
    {
        int radioReturnIndex = 0;
        <h2>Retur</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].destinationTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].travelDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.returnflights[0][0].classType)
                </th>
                <th></th>
            </tr>

            @foreach (var x in Model.returnflights)
            {
                <tr>

                    @foreach (var y in x)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => y.departureTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => y.destinationTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => y.departure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => y.destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => y.travelDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => y.classType)
                        </td>
                    }
                    <td>
                        <input type="radio" name="return" id="return" value=@radioReturnIndex />
                    </td>
                </tr>
                radioReturnIndex++;
            }

            @if (Model.returnflights.Count == 0)
            {
                <tr><td> <h4>Ingen treff! :(</h4></td></tr>
            }


        </table>

    }
    <input type="submit" value="Neste" id="nextBtn" class="btn btn-primary" disabled="disabled" />
</div>