@model List<WebApp.Models.Flight>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].departureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].destinationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].travelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].classType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destinationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.travelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classType)
            </td>
        </tr>
    }

</table>
