@model WebApp.Models.ViewModel
    @{
        int radioTravelIndex = 0;
    }
<div class="well">
    <h3>
        <label id="dynprice">
        </label>
    </h3>
    <h2>Tur</h2>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].destinationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].travelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.travelflights[0][0].classType)
            </th>
            <th></th>
        </tr>

        @foreach (var x in Model.travelflights)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => x[0].departureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => x[0].destinationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => x[0].departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => x[0].destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => x[0].travelDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => x[0].classType)
                </td>
                <td rowspan=@x.Count align="center">
                    <br />
                    <input type="radio" name="travel" id="travel" value=@radioTravelIndex />
                </td>
            </tr>

            for (int i = 1; i < x.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].departureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].destinationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].departure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].travelDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x[i].classType)
                    </td>
                </tr>
                <tr><th id="thColor" colspan="8"><br /></th></tr>

            }
            radioTravelIndex++;
        }

        @if (Model.travelflights.Count == 0)
        {
            <tr><td> <h4>Ingen treff! :(</h4></td></tr>
        }
    </table>

    
    <input type="submit" value="Neste" id="nextBtn" class="btn btn-primary" disabled="disabled" />
</div>