@model List<WebApp.Model.AdminCustomer>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        
        <td>
            @if (item.ContactPerson)
            {
            <a href="@Url.Action("EditCustomer", "Admin", new { id = item.ID })" class="btn btn-primary" title="Rediger">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:15px"></span>
            </a>
            <a href = "@Url.Action("CustomerBooking", "Admin", new { id = item.ID })" class="btn btn-default" title="Bookinger">
                <span class="glyphicon glyphicon-plane" aria-hidden="true" style="font-size:15px"></span>
            </a>
            <a href = "@Url.Action("DetailCustomer", "Admin", new { id = item.ID })" class="btn btn-default" title="Detaljer">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size:15px"></span>
            </a>
            }
        </td>
    </tr>
}

</table>
