@model List<WebApp.Model.AdminViewFlight>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TravelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DestinationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ClassType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Airplane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airplane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Action("EditFlight", "Admin", new { id=item.ID })" class="btn btn-default" title="Rediger">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:15px"></span>
            </a>
        </td>
    </tr>
}

</table>
