@model List<WebApp.Model.AdminViewFlight>

@{
    ViewBag.Title = "Flyvninger";
}

<button type="button" class="btn btn-default" id="avbrytKnapp" title="Tilbake">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Tilbake
</button>

<div style="text-align:right;width:100%">
    <input type="button" value="Endre flyvninger" class="btn btn-default" id="editFlight" />
</div>
<br />
@if (ViewBag.ChangeFlight != null)
{
    <div>
        @if (ViewBag.ChangeFlight)
        {
            <p class="alert alert-success">Booking endret!</p>
        }
        else if (!ViewBag.ChangeFlight)
        {<p class="alert alert-danger">Det skjedde noe feil...</p> }
    </div>
}
<input type="hidden" value="@Model[0].BookingID" id="bookingID" />
<h2>Flyvninger</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TravelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DestinationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ClassType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Airplane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="editflightdiv" style="display:none">
                    <input type="radio" id="flightradio" name="flightradio" value="@item.ID" style="height:15px;width:15px;" />
                </div>
            </td>
        </tr>
    }

</table>
<br /><br />

<div class="editflightdiv" style="display:none">
    @{  Html.RenderPartial("_SearchChangeFlight", new WebApp.Model.SearchFlight());}
</div>
<br />

    <div id="partialview">
    </div>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
<script type="text/javascript">
    $(document).ready(function () {
        $("#editFlight").click(function () {
            $(".editflightdiv").fadeIn("slow");
        });

        $(function () {
            $("#Date").datetimepicker({
                viewMode: "days",
                format: "DD/MM/YYYY"
            });
        });
    });

    $(document).on('click', '#avbrytKnapp', function () {
        history.go(-1);
    });
</script>