@model List<WebApp.Model.AdminCustomer>

@{
    ViewBag.Title = "Detaljer";
}
<div style="text-align: right; width:100% ">
        <button type="button" title="Slett booking" class="btn btn-danger" data-toggle="modal" data-target="#delete-Booking-Modal">
        Slett Booking
        <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:15px"></span>
    </button>
</div>
<button type="button" class="btn btn-default" id="avbrytKnapp" title="Tilbake">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Tilbake
</button>
<div>
    <h4>Kontaktperson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].City)
        </dd>
        <dd><br /></dd>
        <dd>
            <a href="@Url.Action("EditCustomer", "Admin", new { id=Model[0].ID })" class="btn btn-primary" title="Rediger">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:15px"></span>
            </a>
        </dd>
    </dl>
</div>

<div class="modal fade" id="delete-Booking-Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Slette Booking?</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteCustomer", "Admin", new { id = Model[0].ID }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Slett booking" class="btn btn-danger" />
                        <input type="button" value="Lukk" class="btn btn-default" data-dismiss="modal">

                    </div>
                }
            </div>
        </div>
    </div>
</div>

@for (int i = 1; i < Model.Count; i++)
{
    <div>
        <h4>Medreisende @i</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model[i].FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[i].LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].LastName)
            </dd>
            @if (Model[i].PhoneNumber != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model[i].PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].PhoneNumber)
            </dd>
            }
            @if (Model[i].EMail != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model[i].EMail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].EMail)
            </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model[i].Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[i].ZipCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].ZipCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[i].City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].City)
            </dd>
            <dd><br /></dd>
            <dd>
                <a href="@Url.Action("EditCustomer", "Admin", new { id=Model[i].ID })" class="btn btn-primary" title="Rediger">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:15px"></span>
                </a> |
                <button type="button" title="Slett medreisende" class="btn btn-danger" data-toggle="modal" data-target="#delete-Customer-Modal">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:15px"></span>
                </button>
            </dd>
        </dl>
    </div>
    <div class="modal fade" id="delete-Customer-Modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Slette medreisende?</h3>
                </div>
                <div class="modal-body">
                    Slette @Model[i].FirstName @Model[i].LastName ?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteCustomer", "Admin", new { id = Model[i].ID }))
                {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Slett" class="btn btn-danger" />
                            <input type="button" value="Lukk" class="btn btn-default" data-dismiss="modal">

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).on('click', '#avbrytKnapp', function () {
        history.go(-1);
    });
</script>
