@model List<WebApp.Model.AdminAirplane>

@{
    ViewBag.Title = "ListAirplane";
}

<h2>ListAirplane</h2>

<p>
    @Html.ActionLink("Ny flymaskin", "NewAirplane", "Admin", new { emtpy = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.ActionLink("Endre", "EditAirplane", new { id=item.ID }, new {@class = "btn btn-default" })
        </td>
    </tr>
}

</table>
