@model List<int>
@{
    ViewBag.Title = "MainPage";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")

<div id="mainPageViewGrid" class="container-fluid text-center">
  
    <h2>Velkommen @Session["Username"]</h2>
   
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-user"></span>
            <h4>Ansatte:</h4>
            <h4> @Model[0]</h4>
            <a href="ListEmployee" class="btn btn-info" role="button"> Se Ansatte</a>
        </div>
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-heart"></span>
            <h4>Registrerte kunder:</h4>
            <h4> @Model[1]</h4>
            <a href="ListCustomer" class="btn btn-info" role="button"> Se Kunder</a>
        </div>
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-plane"></span>
            <h4>Flymaskiner:</h4>
            <h4> @Model[2]</h4>
            <a href="ListAirplane" class="btn btn-info" role="button"> Se Flymaskiner</a>
        </div>
    </div>
    <br/><br/><br /><br />
    <div class="row">
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-road"></span>
            <h4>Flyplasser:</h4>
            <h4> @Model[3]</h4>
            <a href="ListAirport" class="btn btn-info" role="button"> Se Flyplasser</a>
        </div>
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-list-alt"></span>
            <h4>Antall bookinger:</h4>
            <h4> @Model[4]</h4>
            <a href="CustomerBooking" class="btn btn-info" role="button"> Se Bookinger</a>
        </div>
        <div class="col-sm-4">
            <span style="font-size:3em;" class="glyphicon glyphicon-globe "></span>
            <h4>Antall flyvninger:</h4>
            <h4> @Model[5]</h4>
            <a href="ListFlight" class="btn btn-info" role="button"> Se Flyvninger</a>
        </div>
    </div>
</div>

<br /><br /><br />
